
.web-shop.false{
    background-color:#FA6515;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
    box-shadow: 1px 3px 3px rgb(94, 92, 92);
    font-family: 'Roboto',cursive;
    transition: all .5s;
    position: relative;
    
    
}
.web-shop.true{
    transition: all .5s;
    font-weight: 400; 
    position: relative; 
    
}

.web-shop-enter.web-shop-enter-active{
    background: #1e8334;
    font-weight: 400;
    color: #fff;
    box-shadow: 1px 10px 3px rgb(94, 92, 92);
    border-radius: 20px;
    padding-bottom: 33px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    position: relative;
    
    
    
    
}
.web-shop.true.web-shop-enter-done{
    box-shadow: 3px  -3px  3px  rgb(94, 92, 92);
    font-weight: 400;
    color: #fff;
    border-radius: 20px;
    padding-bottom: 34px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: #1e8334;
    position: relative;
    
    

    
}
.web-shop-exit.web-shop-exit-active{
    background-color:#FA6515;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    padding-top: 12px;
    margin-left: 10px;
    box-shadow: 3px  -3px  10px  rgb(94, 92, 92);
    font-family: 'Roboto',cursive;
    transition: all .5s;

    
}
.web-shop-exit.web-shop-exit-done{
    background-color:#FA6515;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
    box-shadow: 1px 3px 3px rgb(94, 92, 92);
    font-family: 'Roboto',cursive; 
    transition: all .5s;
    
}


.web-shop-enter.web-shop-enter-active .webshop-text{
    text-shadow: 0px 0px  2px #fcfcfc ;
    position: relative;
    top: 30%;
    height: 50%;
    color: white;
    transition: all 1s;
}
.web-shop.true.web-shop-enter-done .webshop-text{
    text-shadow: 0px 0px  2px #ffffff ;
    position: relative;
    top: 30%;
    height: 50%;
    transition: all 1s;
    color: white;
}



.login.false{
    font-family: 'Roboto', cursive;
    padding: 8.2px;
    padding-right: 10px;
    margin-left: -15px;
    font-size: 20px;
    border:1px solid white;
    border-left: none;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    transition: all .5s;
}
.login.true{
    transition: all .5s;
    color: #1e8334;
    text-shadow: 0px 0px  2px #11b334 ;

}
.login-enter.login-enter-active{
    
     color: #1e8334;
     transition: all .5s;
     text-shadow: 0px 0px  2px #11b334 ;
     
    }
.login-enter.login-enter-done{
    
    color: #1e8334;
    transition: all .5s;
    text-shadow: 0px 0px  2px #11b334 ;
}

.login-exit.login-exit-active{
    color: white;
    transition: all 1s;
}
.login-exit.login-exit-done{
    color: white;
    transition: all 1s;

}


.login-icon.false .fas{
    font-size: 20px;
    border:1px solid white;
    padding: 10px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-right:none;
    margin-right: -1px;
    transition: all .5s;
}
.login-icon.true .fas{
    box-shadow: 20px 20px 50px 10px #1e8334 inset;
    transition: all .5s;
    text-shadow: 1px 3px 3px rgb(2, 0, 0);
    font-size: 20px;
    border:1px solid white;
    padding: 10px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-right:none;
    margin-right: -1px;
}
.login-icon-enter.login-icon-enter-active .fas{
    box-shadow: 20px 20px 50px 10px #1e8334 inset;
    transition: all .5s;
    text-shadow: 1px 3px 3px rgb(2, 0, 0);
    font-size: 20px;
    border:1px solid white;
    padding: 10px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-right:none;
    margin-right: -1px;
    }
.login-icon-enter.login-icon-enter-done .fas{
    box-shadow: 20px 20px 50px 10px #1e8334 inset;
    transition: all .5s;
    text-shadow: 1px 3px 10px rgb(2, 0, 0);
    font-size: 20px;
    border:1px solid white;
    padding: 10px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-right:none;
    margin-right: -1px;
    
}
.login-icon-exit.login-icon-exit-active .fas{
    transition: all .5s;
    font-size: 20px;
    border:1px solid white;
    padding: 10px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-right:none;
    margin-right: -1px;
}
.login-icon-exit.login-icon-exit-done .fas{
    color: white;
    font-size: 20px;
    border:1px solid white;
    padding: 10px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-right:none;
    margin-right: -1px;

}



